.style-nav {
background-color: rgb(102, 0, 0);
}

.style-nav {
background-color: rgb(102, 0, 0);
}

.style-navbutton {
background-color: rgb(195, 153, 16);
}

.style-navcart {
color: rgb(195, 153, 16);
}

.style-navcat{
 font-family: cursive;
 font-variant: small-caps;
 font-size: 40px;
 color: rgb(195, 153, 16);
}